@import "tailwindcss";
@import "primeicons/primeicons.css";

button.match-input-height {
  height: var(--mat-form-field-container-height) !important;
}

.mdc-notched-outline__notch {
  border-right-style: none !important;
}

.mat-mdc-snack-bar-container.snack-error {
  --mdc-snackbar-container-color: red;
  --mat-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
}

.mat-mdc-snack-bar-container.snack-success {
  --mdc-snackbar-container-color: green;
  --mat-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
}

.mat-mdc-button,
.mat-mdc-outlined-button,
.mat-mdc-raised-button,
.mat-mdc-unelevated-button,
.mat-mdc-fab,
.mat-mdc-mini-fab {
  border-radius: 5px !important;
}

.text-primary {
  color: #7d00fe !important;
}

.bg-primary {
  background-color: #7d00fe !important;
}

.mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
  stroke: #7d00fe !important;
}

.ellipsis {
  position: relative;
}

.ellipsis:before {
  content: "&nbsp;";
  visibility: hidden;
}

.ellipsis span {
  position: absolute;
  left: 0;
  right: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.p-carousel-content {
  position: relative;
}
.p-carousel-prev-button,
.p-carousel-next-button {
  z-index: 3;
  cursor: pointer;
  position: absolute;
  top: calc(35% - 20px);
  background-color: white;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.259);
  aspect-ratio: 1;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  &.p-disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.p-carousel-next-button {
  right: 0;
}
.p-carousel-prev-button {
  left: 2px;

  /* left: ; */
}
a {
  text-decoration: none;
  color: inherit;
}

/* .mat-mdc-tab-body-content .mat-tab-body-content-can-animate {
  overflow: hidden !important;
} */
