<div class="container my-24">
  @if(!courseService.courseSearchLoaded()){
  <div class="flex justify-center mb-80 mt-20">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
  }@else if (courseService.coursesWithParameters()?.length) { @for (course of
  courseService.coursesWithParameters(); track course.id) {
  <app-course-search-item [course]="course"></app-course-search-item>
  }
  <div class="flex justify-center mt-5">
    <ngb-pagination
      [collectionSize]="120"
      [(page)]="page"
      [maxSize]="5"
      [rotate]="true"
      [ellipses]="false"
      [boundaryLinks]="true"
    />
  </div>
  }@else {
  <app-empty-course-search></app-empty-course-search>
  }
</div>
