<div class="container my-24">
  @if(!courseService.courseSearchLoaded()){
  <div class="flex justify-center mb-80 mt-20">
    <div class="flex items-center justify-center">
      <mat-progress-spinner
        diameter="100"
        mode="indeterminate"
      ></mat-progress-spinner>
    </div>
  </div>
  }@else if (courseService.CoursePagingResult()?.data?.length) { @if(isLoading){

  <div
    class="fixed inset-0 z-40 flex items-center justify-center bg-gray-100"
    style="opacity: 70%"
  >
    <mat-progress-spinner
      diameter="50"
      mode="indeterminate"
      color="primary"
    ></mat-progress-spinner>
  </div>

  }
  <mat-form-field>
    <mat-label>Sort By</mat-label>
    <mat-select
      (selectionChange)="onSortSelectionChange($event)"
      [(value)]="selectedSort"
    >
      <mat-option value="title"
        >Title <i class="bi bi-caret-up-fill"></i
      ></mat-option>
      <mat-option class="flex justify-between" value="price"
        >Price <i class="bi bi-caret-up-fill"></i
      ></mat-option>
      <mat-option value="NoSubscribers desc"
        >Subscribers <i class="bi bi-caret-down-fill"></i
      ></mat-option>
    </mat-select>
  </mat-form-field>
  @for (course of courseService.CoursePagingResult()?.data; track course.id) {
  <app-course-search-item [course]="course"></app-course-search-item>
  }
  <div class="flex justify-center mt-5">
    <ngb-pagination
      (pageChange)="onPageChange($event)"
      [collectionSize]="courseService.CoursePagingResult()?.totalItems!"
      [(page)]="courseService.courseParams().pageNumber"
      [maxSize]="5"
      [pageSize]="courseService.CoursePagingResult()?.pageSize!"
      [rotate]="true"
      [ellipses]="false"
      [boundaryLinks]="true"
    />
  </div>
  }@else {
  <app-empty-course-search></app-empty-course-search>
  }
</div>
