<section class="mb-32">
  @if(cartService.cart()?.courses?.length! > 0){
  <div class="mx-auto max-w-screen-xl">
    <div class="flex w-full items-start gap-6 mt-32">
      <div class="w-3/4">
        @for (course of cartService.cart()?.courses; track course.id) {
        <app-cart-course [course]="course"></app-cart-course>
        }
      </div>
      <div class="w-1/4">
        <app-order-summary></app-order-summary>
      </div>
    </div>
  </div>
  }@else {
  <app-empty-state></app-empty-state>
  }
</section>
