<div class="card">
  <p-toast />
  <p-toolbar styleClass="[&>*]:flex [&>*]:gap-2 mb-6">
    <ng-template #start>
      <p-button label="New" icon="pi pi-plus" class="" (onClick)="openNew()" />
      <!-- <p-button
        severity="danger"
        label="Delete"
        icon="pi pi-trash"
        outlined
        (onClick)="deleteSelectedProducts()"
        [disabled]="true"
      /> -->
      <!-- [disabled]="!selectedProducts || !selectedProducts.length" -->
      @for (btn of buttons(); track $index) {
      <p-button
        label="{{ btn.label }}"
        icon="pi pi-plus"
        class=""
        outlined
        [icon]="btn.icon"
        [severity]="btn.severity"
        (onClick)="btn.action()"
      />
      }
    </ng-template>

    <ng-template #end>
      <p-fileUpload
        mode="basic"
        accept="image/*"
        [maxFileSize]="1000000"
        label="Import"
        chooseLabel="Import"
        auto
        customUpload
        class="inline-block"
        [chooseButtonProps]="{ severity: 'secondary' }"
      />
      <p-button
        label="Export"
        icon="pi pi-upload"
        severity="secondary"
        (onClick)="exportCSV()"
      />
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="isPaginated()? crudService().page().data: crudService().items()!"
    [rows]="10"
    [lazy]="isPaginated()? true : false"
    [globalFilterFields]="globalFilterFields()"
    [columns]="cols"
    [totalRecords]="isPaginated()? crudService().page().totalItems: crudService().items()!.length"
    [pageLinks]="5"
    [paginator]="true"
    (onPage)="loadData($event)"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedProducts"
    [rowHover]="true"
    [loading]="dt.loading"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    paginator
    [showCurrentPageReport]="true"
    [paginatorStyleClass]="showHideClassOnLoading()"
    (onSort)="onSort($event)"
    sortField="id"
  >
    <ng-template #caption>
      <div class="flex items-center justify-between">
        <h5 class="m-0">Manage Products</h5>
        <p-iconfield>
          <p-inputicon styleClass="pi pi-search" />
          <input
            pInputText
            type="text"
            (input)="search($event)"
            [class.pointer-events-none]="crudService().isLoading()"
            placeholder="Search..."
          />
        </p-iconfield>
      </div>
    </ng-template>

    <ng-template #header>
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox />
        </th>
        @for (item of columnConfigs(); track $index) {
        <th
          [class.pointer-events-none]="crudService().isLoading()"
          pSortableColumn="{{ item.key }}"
          [pSortableColumnDisabled]="!item.sortable"
          style.min-width="{{ item.width ?? 'unset' }}"
        >
          {{ item.header }}
          <p-sortIcon *ngIf="item.sortable" field="{{ item.key }}" />
        </th>
        }

        <!-- edit/delete btns -->
        <th></th>
      </tr>
    </ng-template>

    <!-- product record -->
    <!-- @if (crudService().page().data.length > 0) { -->
    <ng-template #body let-product>
      <tr (click)="navigateToDetails(product)" class="cursor-pointer">
        <td style="width: 3rem">
          <p-tableCheckbox [value]="product" />
        </td>
        @for (column of columnConfigs(); track $index) {
        <td [style.min-width]="column.width ?? 'unset'">
          @switch (column.type) {
          <!--  -->
          @case ('image') {
          <img
            [src]="product[column.key]"
            [alt]="product[column.header]"
            style="width: 64px"
            class="rounded"
          />
          }
          <!--  -->
          @case ('tag') { @for (item of column.tags; track $index) {
          <p-tag
            *ngIf="product[column.key] == item.value"
            [value]="product[column.key]"
            [style.color]="item.color"
            [style.backgroundColor]="item.bgColor"
          />
          }@empty {
          <p-tag [value]="product[column.key]" severity="contrast" />
          } }
          <!--  -->
          @case ('status') {
          <p-tag
            *ngIf="
              product[column.key] ==
              getStatus(column.statuses, product[column.key])!.value
            "
            [value]="product[column.key]"
            [style.color]="
              getStatus(column.statuses, product[column.key])!.color
            "
            [style.backgroundColor]="
              getStatus(column.statuses, product[column.key])!.bgColor
            "
          />
          } 
          <!--  -->
          @case ('rating') {
          <p-rating
            [(ngModel)]="product[column.key]"
            [readonly]="true"
          /><!--[cancel]="false"-->
          }
          <!--  -->
          @case ('money') {
          {{ product[column.key] | currency : "USD" }}
          }
          <!--  -->
          @default {
          {{ product[column.key] }}
          } }
        </td>

        }

        <!--  -->
        <td (click)="$event.stopPropagation()" class="cursor-auto">
          <p-button
            *ngIf="crudService().editable()"
            icon="pi pi-pencil"
            class="mr-2"
            [rounded]="true"
            [outlined]="true"
            (click)="editProduct(product)"
          />
          <p-button
            *ngIf="crudService().deletable()"
            icon="pi pi-trash"
            severity="danger"
            [rounded]="true"
            [outlined]="true"
            (click)="deleteProduct(product)"
          />
        </td>
      </tr>
    </ng-template>
    <!-- }@else{
    <ng-template #body let-product>
      <tr>
        <td><p-skeleton /></td>
        <td><p-skeleton /></td>
        <td><p-skeleton /></td>

        <td><p-skeleton /></td>
        <td><p-skeleton /></td>
        <td><p-skeleton /></td>

        <td><p-skeleton /></td>
        <td><p-skeleton /></td>
        <td><p-skeleton /></td>
      </tr>
    </ng-template>
    } -->

    <ng-template #summary>
      <div class="flex items-center justify-between">
        In total there are {{ crudService().page().totalItems }} products.
      </div>
    </ng-template>
  </p-table>

  <!-- edit/create dialog -->
  <p-dialog
    [(visible)]="productDialog"
    [style]="{ width: '450px' }"
    header="Product Details"
    [modal]="true"
  >
    <ng-template #content>
      <div>
        <form
          id="form"
          class="flex flex-col gap-6"
          #NgForm="ngForm"
          (ngSubmit)="saveProduct(NgForm)"
        >
          @for (item of createFormConfigs(); track $index) {
          <div>
            @switch (item.type) {
            <!--  -->
            @case ('image') {
            <div>
              <label for="">{{ item.label }}</label>
              <div
                class="relative hover:cursor-pointer hover:opacity-80 transition-all"
              >
                <img
                  [src]="newItem[item.key]?? '/placeholders/course.png'"
                  alt="course image"
                  class="block m-auto pb-4"
                />
                <input
                  type="file"
                  (change)="onImageChange($event)"
                  [required]="item.required ?? false"
                  accept="image/*"
                  class="absolute top-0 left-0 w-full h-full opacity-0 z-10 cursor-pointer"
                />
              </div>
            </div>
            }
            <!--  -->
            @case ('file') {
            <div>
              <label for="">{{ item.label }}</label>
              <p-fileupload
                #fu
                mode="basic"
                chooseLabel="Choose"
                chooseIcon="pi pi-upload"
                maxFileSize="1000000"
              />
            </div>
            }
            <!--  -->
            @case ('select') {
            <div>
              <label
                [for]="item.key + $index"
                class="block font-bold mb-3"
                >{{ item.label }}</label
              >
              <p-select
                [(ngModel)]="newItem[item.key]"
                [inputId]="item.key + $index"
                [name]="item.key"
                [options]="item.options"
                optionLabel="label"
                optionValue="value"
                placeholder="Select a Status"
                fluid
              />
            </div>
            }
            <!--  -->
            @case ('radio') {
            <div>
              <span class="block font-bold mb-4">{{ item.label }}</span>
              <div class="grid grid-cols-12 gap-4">
                @for (radio of item.options; track $index) {
                <div class="flex items-center gap-2 col-span-6">
                  <p-radiobutton
                    id="radio{{ $index }}"
                    [name]="item.key"
                    value="{{ radio.value }}"
                    [(ngModel)]="newItem[item.key]"
                  />
                  <label for="radio{{ $index }}">{{ radio.label }}</label>
                </div>
                }
              </div>
            </div>
            }
            <!--  -->
            @case ('money') {
            <div class="grid grid-cols-12 gap-4">
              <div class="col-span-6">
                <label for="price" class="block font-bold mb-3">Price</label>
                <p-inputnumber
                  id="price"
                  [(ngModel)]="newItem['price']"
                  mode="currency"
                  [name]="item.key"
                  [required]="item.required ?? false"
                  currency="USD"
                  locale="en-US"
                  fluid
                />
              </div>
              <!-- <div class="col-span-6">
                                  <label for="quantity" class="block font-bold mb-3">Quantity</label>
                                  <p-inputnumber id="quantity" [(ngModel)]="item['quantity']" fluid />
                              </div> -->
            </div>
            }
            <!--  -->
            @case ('textarea') {
            <div>
              <label for="description" class="block font-bold mb-3"
                >Description</label
              >
              <textarea
                id="description"
                pTextarea
                [name]="item.key"
                [(ngModel)]="newItem['description']"
                [required]="item.required ?? false"
                rows="3"
                cols="20"
                fluid
              ></textarea>
            </div>
            }
            <!--  -->
            @case ('number') {
            <div>
              <label
                [for]="item.key + $index"
                class="block font-bold mb-3"
                >{{ item.label }}</label
              >
              <input
                type="number"
                pInputText
                [name]="item.key"
                [id]="item.key + $index"
                [(ngModel)]="newItem[item.key]"
                [required]="item.required ?? false"
                autofocus
                min="{{ item.min ?? 0 }}"
                max="{{ item.max ?? 0 }}"
                fluid
              />
              <small class="text-red-500" *ngIf="submitted && !item.key"
                >{{ item.label }} is required.</small
              >
            </div>
            }
            <!--  -->
            @case ('email') {
            <label [for]="item.key + $index" class="block font-bold mb-3">{{
              item.label
            }}</label>
            <input
              type="email"
              pInputText
              [name]="item.key"
              [id]="item.key + $index"
              [(ngModel)]="newItem[item.key]"
              [required]="item.required ?? false"
              email
              autofocus
              fluid
            />
            <small class="text-red-500" *ngIf="submitted && !item.key"
              >{{ item.label }} is required.</small
            >
            }
            <!--  -->
            @case ('password') {
            <label [for]="item.key + $index" class="block font-bold mb-3">{{
              item.label
            }}</label>
            <input
              type="password"
              pInputText
              [name]="item.key"
              [id]="item.key + $index"
              [(ngModel)]="newItem[item.key]"
              [required]="item.required ?? false"
              autofocus
              fluid
            />
            <small class="text-red-500" *ngIf="submitted && !item.key"
              >{{ item.label }} is required.</small
            >
            }
            <!--  -->
            @default {
            <label [for]="item.key + $index" class="block font-bold mb-3">{{
              item.label
            }}</label>
            <input
              type="text"
              pInputText
              [name]="item.key"
              [id]="item.key + $index"
              [(ngModel)]="newItem[item.key]"
              [required]="item.required ?? false"
              autofocus
              fluid
            />
            <small class="text-red-500" *ngIf="submitted && !item.key"
              >{{ item.label }} is required.</small
            >
            }
            <!--  -->
            }
            <p
              *ngIf="NgForm.submitted || NgForm.controls[item.key]?.touched"
              class="text-red-500 text-sm"
            >
              <ng-container *ngIf="NgForm.controls[item.key]?.invalid">
                invalid Input
              </ng-container>
            </p>
          </div>

          }
        </form>
      </div>
    </ng-template>

    <ng-template #footer>
      <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
      <button type="submit" form="form">
        <p-button label="Save" icon="pi pi-check" />
      </button>
      <!-- <button type="submit">sub</button> -->
    </ng-template>
  </p-dialog>

  <p-confirmDialog [style]="{ width: '450px' }" />
</div>
