<div class="card">
  <p-toast />
  <p-toolbar styleClass="mb-6">
    <ng-template #start>
      <p-button
        label="New"
        icon="pi pi-plus"
        class="mr-2"
        (onClick)="openNew()"
      />
      <p-button
        severity="danger"
        label="Delete"
        icon="pi pi-trash"
        outlined
        (onClick)="deleteSelectedProducts()"
        [disabled]="!selectedProducts || !selectedProducts.length"
      />
    </ng-template>

    <ng-template #end>
      <p-fileUpload
        mode="basic"
        accept="image/*"
        [maxFileSize]="1000000"
        label="Import"
        chooseLabel="Import"
        auto
        customUpload
        class="mr-2 inline-block"
        [chooseButtonProps]="{ severity: 'secondary' }"
      />
      <p-button
        label="Export"
        icon="pi pi-upload"
        severity="secondary"
        (onClick)="exportCSV()"
      />
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="items().data"
    [rows]="10"
    [lazy]="true"
    [columns]="cols"
    [totalRecords]="items().totalItems"
    [pageLinks]="5"
    [paginator]="true"
    (onLazyLoad)="loadData($event)"
    (onPage)="onPageChange($event)"
    [globalFilterFields]="[
      'title',
      'description',
      'country.name',
      'representative.name',
      'status'
    ]"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedProducts"
    [rowHover]="true"
    [loading]="dt.loading"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
    
  >
    <ng-template #caption>
      <div class="flex items-center justify-between">
        <h5 class="m-0">Manage Products</h5>
        <p-iconfield>
          <p-inputicon styleClass="pi pi-search" />
          <input
            pInputText
            type="text"
            (input)="search($event)"
            placeholder="Search..."
          />
        </p-iconfield>
      </div>
    </ng-template>

    <ng-template #header>
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox />
        </th>
        @for (item of columnConfigs(); track $index) {
        <th
          pSortableColumn="{{ item['key'] }}"
          style.min-width="{{ item.width ?? 'unset' }}"
        >
          {{ item.header }}
          <p-sortIcon *ngIf="item.sortable" field="{{ item['key'] }}" />
        </th>
        }

        <!-- edit/delete btns -->
        <th></th>
      </tr>
    </ng-template>

    <!-- product record -->
    @if (items().data.length > 0) {
    <ng-template #body let-product>
      <tr>
        <td style="width: 3rem">
          <p-tableCheckbox [value]="product" />
        </td>
        @for (column of columnConfigs(); track $index) {
        <td [style.min-width]="column.width ?? 'unset'">
          @switch (column.type) { @case ('image') {
          <img
            [src]="product[column['key']]"
            [alt]="product[column['label']]"
            style="width: 64px"
            class="rounded"
          />
          } @case ('tag') {
          <p-tag
            [value]="product[column['key']]"
            [severity]="getStatusSeverity(product[column['key']])"
          />
          } @case ('rating') {
          <p-rating
            [(ngModel)]="product[column['key']]"
            [readonly]="true"
          /><!--[cancel]="false"-->
          } @case ('money') {
          {{ product[column["key"]] | currency : "USD" }}
          } @default {
          {{ product[column["key"]] }}
          } }
        </td>

        }

        <!--  -->
        <td>
          <p-button
            icon="pi pi-pencil"
            class="mr-2"
            [rounded]="true"
            [outlined]="true"
            (click)="editProduct(product)"
          />
          <p-button
            icon="pi pi-trash"
            severity="danger"
            [rounded]="true"
            [outlined]="true"
            (click)="deleteProduct(product)"
          />
        </td>
      </tr>
    </ng-template>
    }@else{
    <ng-template #body let-product>
      <tr>
        <td><p-skeleton /></td>
        <td><p-skeleton /></td>
        <td><p-skeleton /></td>

        <td><p-skeleton /></td>
        <td><p-skeleton /></td>
        <td><p-skeleton /></td>

        <td><p-skeleton /></td>
        <td><p-skeleton /></td>
        <td><p-skeleton /></td>
      </tr>
    </ng-template>
    }

    <ng-template #summary>
      <div class="flex items-center justify-between">
        In total there are {{ items().totalItems }} products.
      </div>
    </ng-template>
  </p-table>

  <!-- edit/create dialog -->
  <p-dialog
    [(visible)]="productDialog"
    [style]="{ width: '450px' }"
    header="Product Details"
    [modal]="true"
  >
    <ng-template #content>
      <div class="flex flex-col gap-6">
        @for (item of createFormConfigs(); track $index) { @switch (item.type) {
        @case ('image') {
        <div>
          <label for="">{{ item.label }}</label>
          <div
            class="relative hover:cursor-pointer hover:opacity-80 transition-all"
          >
            <img
              [src]="item['imageUrl'] ?? '/placeholders/course.png'"
              alt="course image"
              class="block m-auto pb-4"
            />
            <input
              type="file"
              (change)="onImageChange($event)"
              accept="image/*"
              class="absolute top-0 left-0 w-full h-full opacity-0 z-10 cursor-pointer"
            />
          </div>
        </div>
        }@case ('file') {
        <div>
          <label for="">{{ item.label }}</label>
          <p-fileupload #fu mode="basic" chooseLabel="Choose" chooseIcon="pi pi-upload"    maxFileSize="1000000" />

        </div>
        } 
        @case ('select') {
        <div>
          <label [for]="item['key']+$index" class="block font-bold mb-3"
            >{{ item.label }}</label
          >
          <p-select
            [(ngModel)]="newItem[item['key']]"
            [inputId]="item['key']+$index"
            [options]="item.options"
            optionLabel="label"
            optionValue="value"
            placeholder="Select a Status"
            fluid
          />
        </div>
        } @case ('radio') {
        <div>
          <span class="block font-bold mb-4">{{ item.label }}</span>
          <div class="grid grid-cols-12 gap-4">
            @for (radio of item.options; track $index) {
            <div class="flex items-center gap-2 col-span-6">
              <p-radiobutton
                id="category{{ $index }}"
                name="category"
                value="{{ radio.value }}"
                [(ngModel)]="newItem['category']"
              />
              <label for="category{{ $index }}">{{ radio.label }}</label>
            </div>
            }
          </div>
        </div>
        } @case ('money') {
        <div class="grid grid-cols-12 gap-4">
          <div class="col-span-6">
            <label for="price" class="block font-bold mb-3">Price</label>
            <p-inputnumber
              id="price"
              [(ngModel)]="newItem['price']"
              mode="currency"
              currency="USD"
              locale="en-US"
              fluid
            />
          </div>
          <!-- <div class="col-span-6">
                                <label for="quantity" class="block font-bold mb-3">Quantity</label>
                                <p-inputnumber id="quantity" [(ngModel)]="item['quantity']" fluid />
                            </div> -->
        </div>
        } @case ('textarea') {
        <div>
          <label for="description" class="block font-bold mb-3"
            >Description</label
          >
          <textarea
            id="description"
            pTextarea
            [(ngModel)]="newItem['description']"
            required
            rows="3"
            cols="20"
            fluid
          ></textarea>
        </div>
        } @default {
        <div>
          <label [for]="item['key'] + $index" class="block font-bold mb-3">{{
            item.label
          }}</label>
          <input
            type="text"
            pInputText
            [id]="item['key'] + $index"
            [(ngModel)]="newItem[item['key']]"
            required
            autofocus
            fluid
          />
          <small class="text-red-500" *ngIf="submitted && !item['key']"
            >{{ item.label }} is required.</small
          >
        </div>
        } } }
      </div>
    </ng-template>

    <input type="file" #file />

    <ng-template #footer>
      <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
      <p-button label="Save" icon="pi pi-check" (click)="saveProduct()" />
    </ng-template>
  </p-dialog>

  <p-confirmDialog [style]="{ width: '450px' }" />
</div>
