<div class="popup">
  <!-- item -->
  <div
    class=" item"
  >
    <img
      src="https://img-c.udemycdn.com/course/100x100/3227583_5e75_6.jpg"
      alt=""
      loading="lazy"
    />

    <div class="item-info">
      <!-- title -->
      <a
        href="/course/complete-web-designer-mobile-designer-zero-to-mastery/"
        class=""
        >Complete Web &amp; Mobile Designer: UI/UX, Figma, +more</a
      >

      <!-- instructors -->
      <div class=" ">
        Andrei Neagoie, Daniel Schifano
      </div>

      <!-- price -->
      <div
        class=" "
         
      >
        <div
          class=" "
           
        >
          <span class="sr-only">Current price</span
          ><span><span>E£249.99</span></span>
        </div>
        <div
          class=" "
         
        >
          <div  >
            <span class="sr-only">Original Price</span
            ><span
              ><s><span>E£1,099.99</span></s></span
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- cart footer, total price -->
  <div class="popup-footer">
    <div
      class="ud-heading-lg shopping-items_total__5Uv15"
      data-testid="header-shopping-total"
    >
      <div>Total:&nbsp;</div>
      <div
        class="base-price-text_container__w46W0"
        data-purpose="price-text-container"
      >
        <div
          class="base-price-text_price-part__UR2cy ud-heading-lg"
          data-purpose="course-price-text"
        >
          <span class="ud-sr-only">Current price</span
          ><span><span>E£249.99</span></span>
        </div>
        <div
          class="base-price-text_price-part__UR2cy base-price-text_original-price__7QNtr ud-text-md"
          data-purpose="original-price-container"
        >
          <div data-purpose="course-old-price-text">
            <span class="ud-sr-only">Original Price</span
            ><span
              ><s><span>E£1,099.99</span></s></span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
