<div class="text-center my-4 container">
    <app-carousel-section></app-carousel-section>
  </div>
  
  <div class="text-start my-4 container">
    <h1 class="fw-bold display-5">All the skills you need in one place</h1>
    <p class="text-muted fs-5">
      From critical skills to technical topics, Udemy supports your professional
      development.
    </p>
  </div>
  
  <br />
  
  <div class="text-center mb-4">
    <br />
    <app-course-section></app-course-section>
  </div>
  
  <div class="text-center my-4">
    <app-partner-section></app-partner-section>
  </div>
  
  <!-- <app-learners-viewing></app-learners-viewing> -->
  <div class="container flex flex-column gap-5 my-4">
  
    <app-hands-on-training></app-hands-on-training>
    <app-clearner-testimonials></app-clearner-testimonials>
    <app-trending-now></app-trending-now>
  </div>
  
  <app-categorysection></app-categorysection>
  