<header class="main-header bg-dark text-white pt-4 pb-2">
  <div class="container">
    <h1 class="mb-3 text-white">My learning</h1>
    <ul ngbNav #nav="ngbNav" class="nav nav-underline">
      <li [ngbNavItem]="1"  class="nav-item">
        <button ngbNavLink>My Courses</button>
        <ng-template ngbNavContent>

        </ng-template>
      </li>
      <li [ngbNavItem]="2" [destroyOnHide]="false" class="nav-item">
        <button ngbNavLink>My-Learning Report</button>
        <ng-template   ngbNavContent>
          @if(powerBiUrl){
            <div class="ratio ratio-16x9 h-50" >
              <iframe title="Studify-Student Dashboard"  [src]="powerBiUrl" allowfullscreen></iframe>
            </div>
          }
          @else {
          <h2 class="text-center">Report Unavailable</h2>
          }
        </ng-template>
      </li>
    </ul>
  </div>
</header>
<main class="container mt-4">
  <div class="container">
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
</main>
