 <div class="container text-center mt-5">
  <div class="row">
    <div class="col-md-12">
      <div class="error-template">
        <h1 class="display-1">Oops!</h1>
        <h2 class="display-4">404 Not Found</h2>
        <p class="mt-3">
          Sorry, an error has occurred, Requested page not found!
        </p>
        <div class="mt-4">
          <a [routerLink]="['/']" class="btn btn-primary btn-lg mb-4">
            <span class="glyphicon glyphicon-home">Take Me Home</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


