<div class="max-w-2xl mx-auto p-6 bg-white shadow-lg rounded-lg">
  <h2 class="text-2xl font-bold text-center mb-6">Create Course</h2>
  <form [formGroup]="courseForm" (ngSubmit)="saveLandingPage()">
    <!-- Course Title -->
    <div class="mb-4">
      <label for="courseTitle" class="block text-sm font-medium text-gray-700">
        Course Title:
      </label>
      <input
        type="text"
        id="courseTitle"
        formControlName="title"
        class="w-full p-3 mt-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500"
        [class.border-red-500]="
          courseForm.get('title')?.invalid &&
          (courseForm.get('title')?.dirty || courseForm.get('title')?.touched)
        "
      />
      <p class="mt-2 text-sm text-gray-500">
        Remaining characters: {{ titleRemaining }}
      </p>
      <div
        *ngIf="
          courseForm.get('title')?.invalid &&
          (courseForm.get('title')?.dirty || courseForm.get('title')?.touched)
        "
        class="text-red-500 text-sm mt-1"
      >
        <div *ngIf="courseForm.get('title')?.errors?.['required']">
          Title is required
        </div>
        <div *ngIf="courseForm.get('title')?.errors?.['maxlength']">
          Title cannot exceed 60 characters
        </div>
        <div *ngIf="courseForm.get('title')?.errors?.['titleTaken']">
          This title is already taken. Please choose a different title.
        </div>
      </div>
      <div
        *ngIf="isCheckingTitle"
        class="absolute right-3 top-1/2 transform -translate-y-1/2"
      >
        <svg
          class="animate-spin h-4 w-4 text-purple-500"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>
      </div>
    </div>

    <!-- Course Description -->
    <div class="mb-4">
      <label
        for="courseDescription"
        class="block text-sm font-medium text-gray-700"
      >
        Course Description (min. 300 characters):
      </label>
      <textarea
        id="courseDescription"
        formControlName="description"
        class="w-full p-3 mt-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500"
        maxlength="1500"
        [class.border-red-500]="
          courseForm.get('description')?.invalid &&
          (courseForm.get('description')?.dirty ||
            courseForm.get('description')?.touched)
        "
      ></textarea>
      <p class="mt-2 text-sm text-gray-500">Word count: {{ wordCount }}</p>
      <div
        *ngIf="
          courseForm.get('description')?.invalid &&
          (courseForm.get('description')?.dirty ||
            courseForm.get('description')?.touched)
        "
        class="text-red-500 text-sm mt-1"
      >
        <div *ngIf="courseForm.get('description')?.errors?.['required']">
          Description is required
        </div>
        <div *ngIf="courseForm.get('description')?.errors?.['minlength']">
          Description must be at least 300 characters long
        </div>
      </div>
    </div>

    <!-- Select Language -->
    <div class="mb-4">
      <label for="language" class="block text-sm font-medium text-gray-700">
        Language:
      </label>
      <select
        id="language"
        formControlName="language"
        class="w-full p-3 mt-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500"
        [class.border-red-500]="
          courseForm.get('language')?.invalid &&
          (courseForm.get('language')?.dirty ||
            courseForm.get('language')?.touched)
        "
      >
        <option *ngFor="let language of languages" [value]="language">
          {{ language }}
        </option>
      </select>
      <div
        *ngIf="
          courseForm.get('language')?.invalid &&
          (courseForm.get('language')?.dirty ||
            courseForm.get('language')?.touched)
        "
        class="text-red-500 text-sm mt-1"
      >
        <div *ngIf="courseForm.get('language')?.errors?.['required']">
          Language is required
        </div>
      </div>
    </div>

    <!-- Course Price -->
    <div class="mb-4">
      <label for="coursePrice" class="block text-sm font-medium text-gray-700">
        Course Price ($):
      </label>
      <div class="relative mt-2 rounded-md shadow-sm">
        <div
          class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3"
        >
          <span class="text-gray-500 sm:text-sm">$</span>
        </div>
        <input
          type="number"
          id="coursePrice"
          formControlName="price"
          min="0"
          step="0.01"
          placeholder="0.00"
          class="block w-full rounded-lg border border-gray-300 py-3 pl-7 pr-12 focus:outline-none focus:ring-2 focus:ring-indigo-500"
          [class.border-red-500]="
            courseForm.get('price')?.invalid &&
            (courseForm.get('price')?.dirty || courseForm.get('price')?.touched)
          "
        />
        <div
          class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3"
        >
          <span class="text-gray-500 sm:text-sm">USD</span>
        </div>
      </div>
      <div
        *ngIf="
          courseForm.get('price')?.invalid &&
          (courseForm.get('price')?.dirty || courseForm.get('price')?.touched)
        "
        class="text-red-500 text-sm mt-1"
      >
        <div *ngIf="courseForm.get('price')?.errors?.['required']">
          Price is required
        </div>
        <div *ngIf="courseForm.get('price')?.errors?.['min']">
          Price must be a positive number
        </div>
      </div>
    </div>

    <!-- Select Category -->
    <div class="mb-4">
      <label for="category" class="block text-sm font-medium text-gray-700">
        Category:
      </label>
      <select
        id="category"
        formControlName="category"
        class="w-full p-3 mt-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500"
        [class.border-red-500]="
          courseForm.get('category')?.invalid &&
          (courseForm.get('category')?.dirty ||
            courseForm.get('category')?.touched)
        "
      >
        <option *ngFor="let category of categories" [value]="category.id">
          {{ category.name }}
        </option>
      </select>
      <div
        *ngIf="
          courseForm.get('category')?.invalid &&
          (courseForm.get('category')?.dirty ||
            courseForm.get('category')?.touched)
        "
        class="text-red-500 text-sm mt-1"
      >
        <div *ngIf="courseForm.get('category')?.errors?.['required']">
          Category is required
        </div>
      </div>
    </div>

    <!-- Select Subcategory -->
    <div class="mb-4">
      <label for="subcategory" class="block text-sm font-medium text-gray-700">
        Subcategory:
      </label>
      <select
        id="subcategory"
        formControlName="subcategory"
        class="w-full p-3 mt-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500"
        [class.border-red-500]="
          courseForm.get('subcategory')?.invalid &&
          (courseForm.get('subcategory')?.dirty ||
            courseForm.get('subcategory')?.touched)
        "
      >
        <option
          *ngFor="let subcategory of subcategories"
          [value]="subcategory.id"
        >
          {{ subcategory.name }}
        </option>
      </select>
      <div
        *ngIf="
          courseForm.get('subcategory')?.invalid &&
          (courseForm.get('subcategory')?.dirty ||
            courseForm.get('subcategory')?.touched)
        "
        class="text-red-500 text-sm mt-1"
      >
        <div *ngIf="courseForm.get('subcategory')?.errors?.['required']">
          Subcategory is required
        </div>
      </div>
    </div>

    <!-- Course Level -->
    <div class="mb-4">
      <label for="level" class="block text-sm font-medium text-gray-700">
        Course Level:
      </label>
      <select
        id="level"
        formControlName="level"
        class="w-full p-3 mt-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500"
        [class.border-red-500]="
          courseForm.get('level')?.invalid &&
          (courseForm.get('level')?.dirty || courseForm.get('level')?.touched)
        "
      >
        <option value="Select Level --" disabled>Select Level --</option>
        <option value="Beginner">Beginner</option>
        <option value="Intermediate">Intermediate</option>
        <option value="Advanced">Advanced</option>
      </select>
      <div
        *ngIf="
          courseForm.get('level')?.invalid &&
          (courseForm.get('level')?.dirty || courseForm.get('level')?.touched)
        "
        class="text-red-500 text-sm mt-1"
      >
        <div *ngIf="courseForm.get('level')?.errors?.['required']">
          Level is required
        </div>
      </div>
    </div>

    <!-- Course Image Upload -->
    <div class="mb-4">
      <label for="image" class="block text-sm font-medium text-gray-700">
        Course Image (750x422 px, .jpg, .jpeg, .gif, or .png):
      </label>
      <input
        type="file"
        id="image"
        (change)="onImageUpload($event)"
        accept="image/jpeg, image/jpg, image/png, image/gif"
        class="w-full p-3 mt-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500"
      />
      <p class="mt-2 text-sm text-gray-500">
        Upload your course image here. It must meet our course image quality
        standards to be accepted. Important guidelines: 750x422 pixels; .jpg,
        .jpeg, .gif, or .png. No text on the image.
      </p>
      <p class="mt-2 text-sm text-gray-500">
        {{ imageFile ? imageFile.name : "No file chosen" }}
      </p>
    </div>

    <!-- Promotional Video Upload -->
    <div class="mb-4">
      <label for="video" class="block text-sm font-medium text-gray-700">
        Promotional Video (MP4, AVI, MOV):
      </label>
      <input
        type="file"
        id="video"
        (change)="onVideoUpload($event)"
        accept="video/mp4, video/avi, video/mov"
        class="w-full p-3 mt-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500"
      />
      <p class="mt-2 text-sm text-gray-500">
        Upload your promotional video here. It must meet our video standards:
        MP4, AVI, or MOV.
      </p>
      <p class="mt-2 text-sm text-gray-500">
        {{ videoFile ? videoFile.name : "No file chosen" }}
      </p>
    </div>

    <!-- Save Button -->
    <div class="mb-4">
      <button
        type="submit"
        [disabled]="isSaving || courseForm.invalid"
        class="w-full py-3 bg-blue-500 text-white text-lg rounded-lg focus:outline-none hover:bg-blue-600 disabled:bg-gray-300 flex items-center justify-center"
      >
        <span *ngIf="!isSaving">{{ "Save" }}</span>
        <span *ngIf="isSaving" class="flex items-center">
          <svg
            class="animate-spin -ml-1 mr-2 h-4 w-4 text-white"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
          >
            <circle
              class="opacity-25"
              cx="12"
              cy="12"
              r="10"
              stroke="currentColor"
              stroke-width="4"
            ></circle>
            <path
              class="opacity-75"
              fill="currentColor"
              d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
            ></path>
          </svg>
          Saving...
        </span>
      </button>
    </div>
  </form>
</div>
