.header-background {
    background-color: #1c1d1f;
    }
    .nav-underline .nav-link {
      padding-bottom: 0.75rem; /* Adjust padding if needed */
      color: #adb5bd; /* Lighter gray for inactive links */
      border-bottom: 3px solid transparent;
    }
    
    .nav-underline .nav-link:hover {
      color: white;
      border-bottom-color: #6c757d; /* Subtle hover border */
    }
    
    .nav-underline .nav-link.active {
      font-weight: bold;
      color: white !important; /* Ensure active link is white */
      border-bottom-color: white !important; /* White underline for active item */
    }
    